.camera-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background: white; // White background outside the circle
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
  // width: 100%;
  // height: 100%;
  object-fit: cover; // Ensures the face is properly visible inside the circle
}

.overlay-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  border: 3px solid white;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 2000px white; // Creates white overlay outside the circle
  pointer-events: none;
}
