<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/apps/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Mark Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="camera-container">
    <video #videoElement autoplay playsinline></video>
    <canvas #canvasElement></canvas>
    <div class="overlay-circle"></div>
  </div>
  <ion-button expand="block" [disabled]="!isBlinkDetected" id="proceedBtn" (click)="proceed()">
    Proceed
  </ion-button>
</ion-content>