 <!-- <div class="container">
   <div class="text-center">
    <img src="assets/images/app_logo/app_logo.jpeg" alt="Student School Logo" class="logo" />
   </div>

    <h2 class="app-title text-center">
      <span class="text-primary">PARENT</span> APP
    </h2>

    <form [formGroup]="loginForm" (ngSubmit)="signIn()" class="card shadow-sm p-4">
      <h3 class="login-title  text-center">Please Login to Edisapp</h3>

      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="mb-3">
        <label class="form-label">Admission/Registration Number</label>
        <input type="text" class="form-control" formControlName="admissionNumber">
      </div>

      <div class="mb-3">
        <label class="form-label">Date of Birth</label>
        <input type="date" class="form-control" formControlName="dob">
      </div>

      <button class="btn w-100 cont-button" type="submit">Continue</button> 
    </form>
  </div> -->

  <ion-content class="bgImg">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
      <div class="row w-100">
        <div class="col-md-10 col-lg-6 mx-auto">
          <div class="card shadow-lg">
            <div class="card-body text-center p-1">
              <!-- Centered Logo -->
              <div class="logo-container">
                <img src="assets/images/app_logo/app_logo.jpg" alt="Student School Logo" class="app-logo"/>
              </div>
  
              <h4 class="fw-bold mb-3">Sign into your account</h4>
  
              <form>
                <div class="form-group">
                  <ion-input type="email" placeholder="Email address" class="form-control mb-3"></ion-input>
                </div>
  
                <div class="form-group">
                  <ion-input type="password" placeholder="Password" class="form-control mb-3"></ion-input>
                </div>
  
                <ion-button expand="block" class="login-btn">Sign In</ion-button>
              </form>
            </div>
            <p class="pb-lg-2 pt-3" style="text-align: center;">Have an account? <a
              style="color: #393f81;" (click)="goToLogin()">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

   <!-- <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                      style="color: #393f81;">Register here</a></p> -->
                  <!-- <a href="#!" class="small text-muted">Terms of use.</a> -->
                  <!-- <a href="#!" class="small text-muted">Privacy policy</a> -->
<!-- <div class="footer-logo text-center"> -->
  <!-- <img src="assets/images/app_logo/app_logo.jpeg" alt="Edisapp Logo" class="small-logo" /> -->
  <!-- <p>Powered by <strong>School Frontend</strong></p> -->
<!-- </div> -->